<?xml version="1.0" ?>

<robot name="sobit_education" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Add Common Xacro: transmissions, colors -->
  <xacro:include filename="$(find sobit_education_description)/urdf/common.xacro" />
  <xacro:include filename="$(find sobit_education_description)/urdf/materials.urdf.xacro" />


  <!-- Add URDF: links, joints -->
  <xacro:include filename="$(find sobit_education_description)/urdf/base/base.urdf.xacro" />
  <xacro:include filename="$(find sobit_education_description)/urdf/stacks/stacks.urdf.xacro" />
  <xacro:include filename="$(find sobit_education_description)/urdf/body/cover.urdf.xacro" />
  <xacro:include filename="$(find sobit_education_description)/urdf/arm/arm.urdf.xacro" />
  <xacro:include filename="$(find sobit_education_description)/urdf/hand/hand.urdf.xacro" />
  <xacro:include filename="$(find sobit_education_description)/urdf/pole/pole.urdf.xacro" />
  <xacro:include filename="$(find sobit_education_description)/urdf/xtion_motor/xtion_motor.urdf.xacro" />
  <xacro:include filename="$(find sobit_education_description)/urdf/sensor/xtion.urdf.xacro" />
  <xacro:include filename="$(find sobit_education_description)/urdf/sensor/mic.urdf.xacro" />
  <xacro:include filename="$(find sobit_education_description)/urdf/sensor/matrix.urdf.xacro" />
  <xacro:include filename="$(find sobit_education_description)/urdf/sensor/urg.urdf.xacro" />
  <xacro:include filename="$(find urg_node)/urdf/hokuyo_ust.urdf.xacro" />


  <!-- Connect the previous Links and Joints -->
  <xacro:base/>
  <xacro:stack_hexagons parent="base_link" />
  <xacro:cover prefix="cover" parent="plate_top_link" />
  <xacro:arm prefix="arm" parent="plate_top_link" />
  <xacro:hand prefix_hand="hand" prefix_finger="finger" parent="arm_wrist_tilt_link" />
  <!-- <xacro:hand prefix="hand" parent="arm_wrist_tilt_link" /> -->
  <xacro:back prefix="back" parent="plate_top_link" />
  <xacro:head prefix="head" parent="back_base_link" />
  <xacro:xtion_pro prefix="camera" parent="head_double_sided_tape_link" />
  <xacro:mic prefix="mic" parent="back_base_link" />
  <xacro:matrix prefix="matrix" parent="back_base_link" />
  <xacro:urg prefix="urg" parent="plate_bottom_link" />
</robot>