<?xml version="1.0" encoding="UTF-8" ?>

<!-- Reference: https://matrix-io.github.io/matrix-documentation/matrix-creator/resources/microphone/ -->

<robot name="matrix" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="matrix" params="prefix parent">

    <!-- Matrix Base -->
    <joint name="${prefix}_base_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}_base_link" />
      <origin xyz="0.0 0.0 0.620" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="${prefix}_base_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://sobit_edu_description/meshes/sensor/matrix_base.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://sobit_edu_description/meshes/sensor/matrix_base.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <mass value="1" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                 iyy="1.0" iyz="0.0"
                 izz="1.0" />
      </inertial>
    </link>


    <!-- MATRIX Creator -->
    <joint name="${prefix}_board_joint" type="fixed">
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_board_link" />
      <origin xyz="0.0 0.0 0.0295" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="${prefix}_board_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${M_PI}" />
        <geometry>
          <mesh filename="package://sobit_edu_description/meshes/sensor/matrix.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="blue" />
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://sobit_edu_description/meshes/sensor/matrix.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <mass value="1" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                 iyy="1.0" iyz="0.0"
                 izz="1.0" />
      </inertial>
    </link>


    <!-- Matrix Sensor -->
    <xacro:mic_sensor prefix="${prefix}" parent="${prefix}_board_link" number="1" x_loc="-0.048503675" y_loc= "0.020090879" z_loc="0.0" />
    <xacro:mic_sensor prefix="${prefix}" parent="${prefix}_board_link" number="2" x_loc="-0.048503675" y_loc="-0.020090879" z_loc="0.0" />
    <xacro:mic_sensor prefix="${prefix}" parent="${prefix}_board_link" number="3" x_loc="-0.020090879" y_loc="-0.048503675" z_loc="0.0" />
    <xacro:mic_sensor prefix="${prefix}" parent="${prefix}_board_link" number="4" x_loc= "0.020090879" y_loc="-0.048503675" z_loc="0.0" />
    <xacro:mic_sensor prefix="${prefix}" parent="${prefix}_board_link" number="5" x_loc= "0.048503675" y_loc="-0.020090879" z_loc="0.0" />
    <xacro:mic_sensor prefix="${prefix}" parent="${prefix}_board_link" number="6" x_loc= "0.048503675" y_loc= "0.020090879" z_loc="0.0" />
    <xacro:mic_sensor prefix="${prefix}" parent="${prefix}_board_link" number="7" x_loc= "0.020090879" y_loc ="0.048503675" z_loc="0.0" />
    <xacro:mic_sensor prefix="${prefix}" parent="${prefix}_board_link" number="8" x_loc="-0.020090879" y_loc ="0.048503675" z_loc="0.0" />

  </xacro:macro>

  <xacro:macro name="mic_sensor" params="prefix parent number x_loc y_loc z_loc roll=0.0 pitch=0.0 yaw=0.0">

    <joint name="${prefix}_sensor_${number}_joint" type="fixed">
      <origin xyz="${x_loc} ${y_loc} ${z_loc}" rpy="${roll} ${pitch} ${yaw}" />
      <parent link="${parent}" />
      <child link="${prefix}_sensor_${number}_link" />
    </joint>
    
    <link name="${prefix}_sensor_${number}_link" />

  </xacro:macro>
</robot>