<?xml version="1.0" encoding="UTF-8" ?>
<robot name="head" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find sobit_edu_description)/urdf/head/head.transmission.xacro" />
  <xacro:include filename="$(find sobit_edu_description)/urdf/head/head.gazebo.xacro" />

  <xacro:macro name="head" params="prefix parent">

    <joint name="${prefix}_camera_base_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}_camera_base_link" />
      <origin xyz="0.150 0.0 0.370" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="${prefix}_camera_base_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2.0} 0.0 ${M_PI/2.0}" />
        <geometry>
          <mesh filename="file://$(find sobit_edu_description)/meshes/head/head_camera_base.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <!-- <origin xyz="0.0 0.0077 0.00825" rpy="${M_PI/2.0} 0.0 ${M_PI/2.0}" /> -->
        <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2.0} 0.0 ${M_PI/2.0}" />
        <geometry>
          <!-- <box size="0.0285 0.0444 0.0905"/> -->
          <mesh filename="file://$(find sobit_edu_description)/meshes/head/head_camera_base.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0077 0.00825" rpy="${M_PI/2.0} 0.0 ${M_PI/2.0}" />
        <mass value="0.0014" />
        <inertia ixx="${1/12*0.0014*(0.10471681**2+0.066**2)}"  ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0014*(0.09414098**2+0.10471681**2)}"  iyz="0.0"
                 izz="${1/12*0.0014*(0.09414098**2+0.066**2)}" />
      </inertial>
    </link>


    <joint name="${prefix}_camera_pan_joint" type="revolute">
      <parent link="${prefix}_camera_base_link" />
      <child link="${prefix}_camera_pan_link" />
      <origin xyz="0.04125 0.0 0.0255" rpy="0.0 0.0 0.0" />
      <axis xyz="0 0 1" />
      <limit effort="30" lower="${-M_PI/2.0}" upper="${M_PI/2.0}" velocity="${M_PI/2.0}" />
    </joint>

    <link name="${prefix}_camera_pan_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-M_PI/2.0}" />
        <geometry>
          <mesh filename="file://$(find sobit_edu_description)/meshes/head/head_camera_pan.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <!-- <origin xyz="0.0005 0.0 0.027375" rpy="0.0 0.0 ${-M_PI/2.0}" /> -->
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-M_PI/2.0}" />
        <geometry>
          <!-- <box size="0.0454  0.0285 0.05475"/> -->
          <mesh filename="file://$(find sobit_edu_description)/meshes/head/head_camera_pan.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0005 0.0 0.027375" rpy="0.0 0.0 ${-M_PI/2.0}" />
        <mass value="0.0011" />
        <inertia ixx="${1/12*0.0011*(0.05475**2+0.0285**2)}"  ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0011*(0.0454**2+0.05475**2)}"  iyz="0.0"
                 izz="${1/12*0.0011*(0.0454**2+0.0285**2)}" />
      </inertial>
    </link>


    <joint name="${prefix}_camera_tilt_joint" type="revolute">
      <parent link="${prefix}_camera_pan_link" />
      <child link="${prefix}_camera_tilt_link" />
      <origin xyz="0.0 0.0 0.0435" rpy="0.0 0.0 0.0" />
      <axis xyz="0 -1 0" />
      <limit effort="30" lower="${-M_PI/2.0}" upper="${M_PI/2.0}" velocity="${M_PI/2.0}" />
    </joint>

    <link name="${prefix}_camera_tilt_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${M_PI/2.0}" />
        <geometry>
          <mesh filename="file://$(find sobit_edu_description)/meshes/head/head_camera_tilt.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <!-- <origin xyz="0.0 0.0217 0.05626305" rpy="0.0 0.0 ${M_PI/2.0}" /> -->
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${M_PI/2.0}" />
        <geometry>
          <!-- <box size="0.11640236 0.0994 0.1175261"/> -->
          <mesh filename="file://$(find sobit_edu_description)/meshes/head/head_camera_tilt.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0217 0.05626305" rpy="0.0 0.0 ${M_PI/2.0}" />
        <mass value="0.0107" />
        <inertia ixx="${1/12*0.0107*(0.1175261**2+0.0994**2)}"  ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0107*(0.11640236**2+0.1175261**2)}"  iyz="0.0"
                 izz="${1/12*0.0107*(0.11640236**2+0.0994**2)}" />
      </inertial>
    </link>


    <xacro:head_transmission prefix="${prefix}" />
    <!-- <xacro:head_gazebo prefix="${prefix}" /> -->

  </xacro:macro>
</robot>
