<?xml version="1.0" ?>
<robot name="arm_transmission" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="arm_transmission" params="prefix">
    <!-- <xacro:position_joint_transmission joint="${prefix}_base_link"    reduction="1" /> -->

    <position_joint_transmission joint="${prefix}_shoulder_roll_joint"    reduction="1" />
    <position_joint_transmission joint="${prefix}_shoulder_pitch_joint" reduction="1" />
    <position_joint_transmission joint="${prefix}_shoulder_pitch_sub_joint" reduction="1" />
    <position_joint_transmission joint="${prefix}_elbow_pitch_joint"    reduction="1" />
    <position_joint_transmission joint="${prefix}_forearm_roll_joint" reduction="1" />
    <position_joint_transmission joint="${prefix}_wrist_pitch_joint" reduction="1" />
    <position_joint_transmission joint="${prefix}_wrist_roll_joint" reduction="1" />

  </xacro:macro>
</robot>