<?xml version="1.0" encoding="UTF-8" ?>
<robot name="arm" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find sobit_edu_description)/urdf/arm/arm.transmission.xacro" />
  <xacro:include filename="$(find sobit_edu_description)/urdf/arm/arm.gazebo.xacro" />
  <xacro:macro name="arm" params="prefix parent">

    <joint name="${prefix}_base_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}_base_link" />
      <origin xyz="0.123481 0.0 0.00325" rpy="0.0 0.0 0.0" />
      <!-- <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" /> -->
    </joint>

    <link name="${prefix}_base_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${M_PI/2.0}" />
        <geometry>
          <mesh filename="file://$(find sobit_edu_description)/meshes/arm/arm_base.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <!-- <origin xyz="0.0 0.01 0.0237" rpy="0.0 0.0 ${M_PI/2.0}" /> -->
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${M_PI/2.0}" />
        <geometry>
          <!-- <box size="0.06 0.06 0.0474"/> -->
          <mesh filename="file://$(find sobit_edu_description)/meshes/arm/arm_base.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.01 0.0237" rpy="0.0 0.0 0.0" />
        <mass value="0.011" />
        <inertia ixx="${1/12*0.011*(0.0474**2+0.06**2)}"  ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.011*(0.06**2+0.0474**2)}"  iyz="0.0"
                 izz="${1/12*0.011*(0.06**2+0.06**2)}" />
      </inertial>
    </link>


    <joint name="${prefix}_shoulder_pan_joint" type="revolute">
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_shoulder_pan_link" />
      <origin xyz="0.008769 0.0 0.043" rpy="0.0 0.0 0.0" />
      <axis xyz="0 0 1" />
      <limit effort="30" lower="${-M_PI}" upper="${M_PI}" velocity="${M_PI/2.0}" />
    </joint>

    <link name="${prefix}_shoulder_pan_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${M_PI/2.0}" />
        <geometry>
          <mesh filename="file://$(find sobit_edu_description)/meshes/arm/arm_lower.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <!-- <origin xyz="0.0 0.0 0.025875" rpy="0.0 0.0 ${M_PI/2.0}" /> -->
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${M_PI/2.0}" />
        <geometry>
          <!-- <box size="0.117 0.0285 0.05175"/> -->
          <mesh filename="file://$(find sobit_edu_description)/meshes/arm/arm_lower.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.025875" />
        <mass value="0.023" />
        <inertia ixx="${1/12*0.023*(0.05175**2+0.0285**2)}"  ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.023*(0.117**2+0.05175**2)}"  iyz="0.0"
                 izz="${1/12*0.023*(0.117**2+0.0285**2)}" />
      </inertial>
    </link>


    <joint name="${prefix}_shoulder_1_tilt_joint" type="revolute">
      <parent link="${prefix}_shoulder_pan_link" />
      <child link="${prefix}_shoulder_1_tilt_link" />
      <origin xyz="0.0 0.0 0.0405" rpy="0.0 ${M_PI/2.0} 0.0" />
      <axis xyz="0 -1 0" />
      <limit effort="30" lower="${-M_PI/2.0}" upper="${M_PI/2.0}" velocity="${M_PI/2.0}" />
    </joint>


    <link name="${prefix}_shoulder_1_tilt_link">
      <visual>
        <origin xyz="0 0.0 0.0" rpy="0.0 0.0 ${M_PI/2.0}" />
        <geometry>
          <mesh filename="file://$(find sobit_edu_description)/meshes/arm/arm_rotate.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${M_PI/2.0}" />
        <geometry>
          <!-- <box size="0.117 0.1696 0.0475"/> -->
          <mesh filename="file://$(find sobit_edu_description)/meshes/arm/arm_rotate.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <mass value="0.0179" />
        <inertia ixx="${1/12*0.0179*(0.0475**2+0.1696**2)}"  ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0179*(0.117**2+0.0475**2)}"  iyz="0.0"
                 izz="${1/12*0.0179*(0.117**2+0.1696**2)}" />
      </inertial>
    </link>


    <joint name="${prefix}_shoulder_2_tilt_joint" type="revolute">
      <parent link="${prefix}_shoulder_pan_link" />
      <child link="${prefix}_shoulder_2_tilt_link" />
      <origin xyz="0.0 0.0 0.0405" rpy="0.0 0.0 ${M_PI}" />
      <axis xyz="0 -1 0" />
      <mimic joint="${prefix}_shoulder_1_tilt_joint" multiplier="1" offset="0" />
      <limit effort="30" lower="${-M_PI/2.0}" upper="${M_PI/2.0}" velocity="${M_PI/2.0}" />
    </joint>

    <link name="${prefix}_shoulder_2_tilt_link" />


    <joint name="${prefix}_elbow_1_tilt_joint" type="revolute">
      <parent link="${prefix}_shoulder_1_tilt_link" />
      <child link="${prefix}_elbow_1_tilt_link" />
      <origin xyz="-0.148139 0.0 0.021810" rpy="${M_PI/2.0} ${-M_PI/2.0} 0.0" />
      <axis xyz="0 0 1" />
      <limit effort="30" lower="${-M_PI/2.0}" upper="${M_PI/2.0}" velocity="${M_PI/2.0}" />
    </joint>




    <link name="${prefix}_elbow_1_tilt_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${M_PI/2.0}" />
        <geometry>
          <mesh filename="file://$(find sobit_edu_description)/meshes/arm/arm_upper.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${M_PI/2.0}" />
        <geometry>
          <!-- <box size="0.0285 0.16375 0.0439"/> -->
          <mesh filename="file://$(find sobit_edu_description)/meshes/arm/arm_upper.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${M_PI/2.0}" />
        <mass value="0.046" />
        <inertia ixx="${1/12*0.046*(0.0475**2+0.1696**2)}"  ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.046*(0.117**2+0.0475**2)}"  iyz="0.0"
                 izz="${1/12*0.046*(0.117**2+0.1696**2)}" />
      </inertial>
    </link>


    <joint name="${prefix}_elbow_2_tilt_joint" type="revolute">
      <parent link="${prefix}_shoulder_1_tilt_link" />
      <child link="${prefix}_elbow_2_tilt_link" />
      <origin xyz="0.02538 0.0 0.148" rpy="0.0 0.0 ${M_PI}" />
      <axis xyz="0 1 0" />
      <mimic joint="${prefix}_elbow_1_tilt_joint" multiplier="1" offset="0" />
      <limit effort="30" lower="${-M_PI/2.0}" upper="${M_PI/2.0}" velocity="${M_PI/2.0}" />
    </joint>

    <link name="${prefix}_elbow_2_tilt_link" />

    <joint name="${prefix}_wrist_tilt_joint" type="revolute">
      <parent link="${prefix}_elbow_1_tilt_link" />
      <child link="${prefix}_wrist_tilt_link" />
      <origin xyz="0.149873  0.0 0.0" rpy="${M_PI/2.0} 0.0 ${M_PI/2.0}" />
      <axis xyz="0 -1 0" />
      <limit effort="30" lower="${-M_PI/2.0}" upper="1.4155" velocity="${M_PI/2.0}" />
    </joint>

    <link name="${prefix}_wrist_tilt_link" />

    <xacro:arm_transmission prefix="${prefix}" />
    <!-- <xacro:arm_gazebo prefix="${prefix}"/> -->
  </xacro:macro>
</robot>